In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
imp = input('Enter File Name:') #cleaned_tweet

df = pd.read_csv('labeled_tweets_' + imp + '.csv')
df.head()

Enter File Name: bisnis vaksin

,created_at,date,user_id,username,name,tweet,link,POS tagged,Label
0,1.653845e+12,2022-05-30 00:24:57,1109052544796352513,AsyiFahmi,Fahmi Al Asyi ŸÅŸáŸÖŸä ÿßŸÑÿ£ÿ¥Ÿä,vaksin itu bisnis dajjal,https://twitter.com/AsyiFahmi/status/153096341...,"[('vaksin', 'n'), ('bisnis', 'n'), ('dajjal', ...",0
1,1.653843e+12,2022-05-29 23:54:54,1334033424668008450,Kimberley20101,Kimberley,ngeri dan geram tapi rakyat tak bisa berbuat...,https://twitter.com/Kimberley20101/status/1530...,"[('ngeri', None), ('geram', 'n'), ('rakyat', '...",0
2,1.653843e+12,2022-05-29 23:42:07,215839128,hendra_roestoe,HendraRoestoeMulyana,saya lebih percaya kpd dr siti fadilah supari...,https://twitter.com/hendra_roestoe/status/1530...,"[('percaya', 'n'), ('kpd', 'n'), ('dr', 'n'), ...",1
3,1.653836e+12,2022-05-29 21:53:13,1391273164731125760,FiinaDu,fina,bisnis ya klo vaksin blm habis blm bisa bali...,https://twitter.com/FiinaDu/status/15309252351...,"[('bisnis', 'n'), ('ya', None), ('klo', 'v'), ...",0
4,1.653822e+12,2022-05-29 18:07:34,606328025,kanitanafiza,üíöKanzaüíöüåÑ,rockefeller milyuner amerika terkenal semula j...,https://twitter.com/kanitanafiza/status/153086...,"[('rockefeller', 'n'), ('milyuner', 'n'), ('am...",0

In [3]:
tweet = df['tweet']

vectorizer = TfidfVectorizer()
response = vectorizer.fit_transform(tweet)
print(response)

  (0, 52)	0.7420459952513815
  (0, 39)	0.23221826308989885
  (0, 95)	0.5885725552494331
  (0, 266)	0.22141537079898094
  (1, 206)	0.23459316984342052
  (1, 181)	0.18607350797982652
  (1, 180)	0.23459316984342052
  (1, 100)	0.23459316984342052
  (1, 69)	0.23459316984342052
  (1, 55)	0.18607350797982652
  (1, 94)	0.15769132524195367
  (1, 15)	0.23459316984342052
  (1, 81)	0.23459316984342052
  (1, 149)	0.23459316984342052
  (1, 5)	0.23459316984342052
  (1, 227)	0.23459316984342052
  (1, 17)	0.18607350797982652
  (1, 26)	0.23459316984342052
  (1, 38)	0.17045366567150072
  (1, 247)	0.23459316984342052
  (1, 213)	0.20621098710554767
  (1, 250)	0.23459316984342052
  (1, 82)	0.23459316984342052
  (1, 54)	0.13755384611623253
  (1, 170)	0.23459316984342052
  :	:
  (19, 189)	0.17040570951794062
  (19, 137)	0.17040570951794062
  (19, 208)	0.17040570951794062
  (19, 114)	0.17040570951794062
  (19, 152)	0.17040570951794062
  (19, 254)	0.17040570951794062
  (19, 261)	0.34081141903588125
  (19, 32)	0.17040570951794062
  (19, 44)	0.17040570951794062
  (19, 230)	0.17040570951794062
  (19, 175)	0.17040570951794062
  (19, 108)	0.17040570951794062
  (19, 179)	0.14978922699057978
  (19, 268)	0.14978922699057978
  (19, 186)	0.13516159984946732
  (19, 191)	0.14978922699057978
  (19, 3)	0.29957845398115956
  (19, 159)	0.27032319969893465
  (19, 0)	0.09991749018099398
  (19, 273)	0.11454511732210647
  (19, 181)	0.13516159984946732
  (19, 17)	0.13516159984946732
  (19, 54)	0.19983498036198796
  (19, 39)	0.05332731143094778
  (19, 266)	0.10169300447850645

In [5]:
vectorizer.get_feature_names()

['ada',
 'adalah',
 'afrika',
 'aja',
 'akan',
 'allah',
 'amerika',
 'amp',
 'an',
 'ane',
 'anis',
 'antigen',
 'ats',
 'awal',
 'balikin',
 'bangsa',
 'bantuan',
 'banyak',
 'baru',
 'bayar',
 'begini',
 'beh',
 'beliau',
 'belinya',
 'bentar',
 'berbisnis',
 'berbuat',
 'berjalan',
 'berkedok',
 'berlipat',
 'beserta',
 'betul',
 'biar',
 'biasa',
 'bikin',
 'bilang',
 'bill',
 'biologis',
 'bisa',
 'bisnis',
 'bisnisnya',
 'blm',
 'boong',
 'buat',
 'buatan',
 'bubarkan',
 'bukan',
 'burung',
 'cacar',
 'coba',
 'cuan',
 'cuannya',
 'dajjal',
 'dalam',
 'dan',
 'dari',
 'daya',
 'di',
 'diacak',
 'diitung',
 'dikulik',
 'diminta',
 'dipengadilan',
 'dipikiran',
 'disebut',
 'dl',
 'dpt',
 'dr',
 'dunia',
 'efek',
 'elon',
 'entahlah',
 'era',
 'fadilah',
 'farmasi',
 'flu',
 'formula',
 'ga',
 'gak',
 'gasak',
 'gates',
 'generasi',
 'geram',
 'gimana',
 'gitu',
 'gugatan',
 'gunakan',
 'gurih',
 'habis',
 'hanya',
 'harus',
 'hendra',
 'ikutan',
 'indonesia',
 'ini',
 'itu',
 'jabatan',
 'jadi',
 'jadikan',
 'jalan',
 'jangka',
 'jawab',
 'jd',
 'jdi',
 'jg',
 'juga',
 'kalao',
 'kalau',
 'kalo',
 'kan',
 'karena',
 'kaya',
 'ke',
 'kejam',
 'kekantong',
 'kelebihan',
 'keluardariwho',
 'kemanusiaan',
 'kenapa',
 'kepentingan',
 'kesehatan',
 'ketika',
 'kipi',
 'kira',
 'kita',
 'klo',
 'komentar',
 'komnas',
 'kpd',
 'krena',
 'kuku',
 'lagi',
 'lahan',
 'laku',
 'lalu',
 'lbp',
 'lebih',
 'lihat',
 'link',
 'logikanya',
 'luar',
 'lumayan',
 'mafia',
 'malah',
 'mandatorynya',
 'masker',
 'mau',
 'melakukan',
 'melihat',
 'melindungi',
 'membuka',
 'mendagri',
 'mengalir',
 'menghalangi',
 'mengorban',
 'menguatkan',
 'meninggal',
 'menolak',
 'merambah',
 'mereka',
 'milyuner',
 'minyak',
 'modal',
 'monas',
 'monyet',
 'mulus',
 'mulut',
 'musk',
 'nambah',
 'negara',
 'ngeri',
 'nyatanya',
 'nyawa',
 'obat',
 'ohvirus',
 'oknum',
 'oleh',
 'padahal',
 'pak',
 'pandemi',
 'panjang',
 'para',
 'pas',
 'pasien',
 'pasti',
 'pastinya',
 'pcr',
 'pebisnis',
 'pecat',
 'pejabat',
 'pelindung',
 'peluang',
 'pembuatan',
 'pemburu',
 'penarikan',
 'penghubung',
 'pengusaha',
 'penjanjian',
 'penting',
 'penyakit',
 'penyebarkan',
 'perang',
 'percaya',
 'perhutangan',
 'perlawanan',
 'pikir',
 'politisi',
 'presiden',
 'pribadi',
 'printah',
 'produksi',
 'progres',
 'publik',
 'rakyat',
 'rata',
 'rente',
 'resiko',
 'rezim',
 'rockefeller',
 'saksi',
 'salah',
 'sana',
 'satu',
 'satunya',
 'saya',
 'sbgai',
 'sekali',
 'semoga',
 'sempet',
 'semula',
 'senang',
 'senjata',
 'setelah',
 'setuju',
 'shingga',
 'siap',
 'sini',
 'siti',
 'sj',
 'smoga',
 'soal',
 'software',
 'spy',
 'statementnya',
 'sumbangan',
 'supari',
 'suruh',
 'tak',
 'takutnya',
 'tambah',
 'tapi',
 'tentunya',
 'terkenal',
 'terus',
 'test',
 'tidak',
 'tipuan',
 'topeng',
 'tp',
 'trus',
 'tumbal',
 'uang',
 'udah',
 'untuk',
 'untung',
 'utk',
 'vaksin',
 'virus',
 'wabah',
 'wajar',
 'wow',
 'ya',
 'yang',
 'yg']

In [8]:
response.todense()
response.shape

(20, 274)

In [50]:
import pandas as pd

df = pd.DataFrame(response.todense().T,
                  index=vectorizer.get_feature_names(),
                  columns=[f'D{i+1}' for i in range(len(tweet))])

df

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,D16,D17,D18,D19,D20
ada,0.0,0.0,0.000000,0.000000,0.093594,0.387977,0.000000,0.0,0.0,0.137913,0.177759,0.0,0.146708,0.0,0.1618,0.000000,0.0,0.000000,0.0,0.099917
adalah,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.160382,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0.000000,0.0,0.000000,0.0,0.000000
afrika,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.470411,0.000000,0.0,0.000000,0.0,0.0000,0.000000,0.0,0.000000,0.0,0.000000
aja,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.133242,0.0,0.000000,0.0,0.0000,0.000000,0.0,0.000000,0.0,0.299578
akan,0.0,0.0,0.000000,0.000000,0.140310,0.000000,0.140978,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0.000000,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wajar,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.151581,0.0,0.000000,0.0,0.0000,0.000000,0.0,0.000000,0.0,0.000000
wow,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.250204,0.0,0.0000,0.000000,0.0,0.000000,0.0,0.000000
ya,0.0,0.0,0.000000,0.232773,0.000000,0.145407,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0.000000,0.0,0.000000,0.0,0.000000
yang,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0.000000,0.0,0.271074,0.0,0.000000
yg,0.0,0.0,0.149012,0.000000,0.107296,0.111194,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0.153024,0.0,0.000000,0.0,0.114545

In [55]:
# label = []
# for index, row in df.iterrows():
#     if 'bisnis vaksin' in tweet:
#         label.append(0)
#     else:
#         label.append(1)
# df['Label'] = label
# df

In [30]:
# label = []
# for index, row in df.iterrows():
#     if 'bisnis vaksin' in row['tweet']:
#         label.append(0)
#     else:
#         label.append(1)

# df['Label'] = label
# df.head()

In [29]:
# df['Label'].value_counts()

In [22]:
corpus = ['saya berangkat ke kampus untuk belajar',
          'ibu pergi berbelanja ke pasar',
          'ayah pergi ke kantor untuk bekerja']

In [23]:
vectorizer = TfidfVectorizer(max_df=1.0, min_df=1, norm = None, smooth_idf=True)
X = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())

['ayah', 'bekerja', 'belajar', 'berangkat', 'berbelanja', 'ibu', 'kampus', 'kantor', 'ke', 'pasar', 'pergi', 'saya', 'untuk']

In [24]:
feature_names = vectorizer.get_feature_names()
def tf_idf(text):
    tfidf_matrix = vectorizer.transform([text]).todense()
    feature_index = X[0,:].nonzero()[1]
    skor = zip([feature_names[i] for i in feature_index], [X[0, x] for x in feature_index])
    return dict(skor)

In [ ]:
text = 'saya pergi ke kampus'
tf_idf(text)

{'belajar': 1.6931471805599454,
 'untuk': 1.2876820724517808,
 'kampus': 1.6931471805599454,
 'ke': 1.0,
 'berangkat': 1.6931471805599454,
 'saya': 1.6931471805599454}