In [12]:
#library

from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import pickle

In [13]:
df = pd.read_csv('true_dataset.csv')
df.head()

,created_at,date,user_id,username,name,tweet,link,POS tagged,Label
0,1.655545e+12,2022-06-18 16:42:27,55507370,tvOneNews,tvOne,apa penyebab varian baru virus corona kembali ...,https://twitter.com/tvOneNews/status/153809478...,"[('penyebab', 'n'), ('varian', None), ('virus'...",FAKTA
1,1.655512e+12,2022-06-18 07:19:23,41730943,VIVAcoid,VivaCoid,virus corona atau covid terus bermutasi hin...,https://twitter.com/VIVAcoid/status/1537953082...,"[('virus', 'n'), ('corona', 'n'), ('covid', 'n...",FAKTA
2,1.655211e+12,2022-06-14 19:53:52,705224376422010881,Berita_Corona,Berita Corona,kenapa varian dan subvarian baru virus corona ...,https://twitter.com/Berita_Corona/status/15366...,"[('varian', None), ('subvarian', None), ('viru...",FAKTA
3,1.655210e+12,2022-06-14 19:40:52,17128975,CNNIndonesia,CNN Indonesia,kenapa varian dan subvarian baru virus corona ...,https://twitter.com/CNNIndonesia/status/153669...,"[('varian', None), ('subvarian', None), ('viru...",FAKTA
4,1.655183e+12,2022-06-14 12:06:11,1403680930842042374,BroAkbar27,ùï¨ùñêùñáùñÜùñó Ó®Ä,pemerintah mewaspadai munculnya virus corona v...,https://twitter.com/BroAkbar27/status/15365757...,"[('pemerintah', 'n'), ('mewaspadai', 'n'), ('m...",FAKTA

In [14]:
vectorizer = TfidfVectorizer()
response = vectorizer.fit_transform(df['tweet'])
print(response)

  (0, 41)	0.15538513246402963
  (0, 132)	0.15538513246402963
  (0, 146)	0.15538513246402963
  (0, 40)	0.15538513246402963
  (0, 107)	0.15538513246402963
  (0, 143)	0.15538513246402963
  (0, 45)	0.15538513246402963
  (0, 68)	0.15538513246402963
  (0, 119)	0.15538513246402963
  (0, 32)	0.1353208260919693
  (0, 113)	0.15538513246402963
  (0, 86)	0.31077026492805926
  (0, 6)	0.15538513246402963
  (0, 88)	0.15538513246402963
  (0, 73)	0.15538513246402963
  (0, 18)	0.15538513246402963
  (0, 130)	0.15538513246402963
  (0, 85)	0.31077026492805926
  (0, 133)	0.31077026492805926
  (0, 70)	0.15538513246402963
  (0, 42)	0.20204133559159454
  (0, 27)	0.3030620033873918
  (0, 67)	0.15538513246402963
  (0, 52)	0.31077026492805926
  (0, 22)	0.04948466827559386
  :	:
  (13, 57)	0.25064751364838334
  (13, 83)	0.18711516875389927
  (13, 27)	0.18711516875389927
  (13, 22)	0.18331559783063886
  (13, 137)	0.09165779891531943
  (13, 10)	0.09165779891531943
  (13, 135)	0.09165779891531943
  (14, 26)	0.45927862327449526
  (14, 89)	0.41739531460965795
  (14, 141)	0.41739531460965795
  (14, 37)	0.41739531460965795
  (14, 129)	0.35424058546532067
  (14, 22)	0.18769670204746897
  (14, 137)	0.18769670204746897
  (14, 10)	0.18769670204746897
  (14, 135)	0.18769670204746897
  (15, 26)	0.45927862327449526
  (15, 89)	0.41739531460965795
  (15, 141)	0.41739531460965795
  (15, 37)	0.41739531460965795
  (15, 129)	0.35424058546532067
  (15, 22)	0.18769670204746897
  (15, 137)	0.18769670204746897
  (15, 10)	0.18769670204746897
  (15, 135)	0.18769670204746897

In [15]:
vectorizer.get_feature_names()

['abai',
 'ada',
 'air',
 'airlanggasolusiindonesia',
 'akan',
 'apa',
 'apakah',
 'atau',
 'aturan',
 'ba',
 'baru',
 'belum',
 'beraktivitas',
 'berbagai',
 'bermutasi',
 'bersiap',
 'berubah',
 'bila',
 'boleh',
 'buat',
 'cnn',
 'commuters',
 'corona',
 'covid',
 'dampaknya',
 'dan',
 'dengan',
 'di',
 'dikatakan',
 'diri',
 'disebut',
 'divaksin',
 'dunia',
 'gejala',
 'gelombang',
 'grismo',
 'hadapi',
 'harus',
 'hati',
 'hingga',
 'hot',
 'hotindonesiaone',
 'indonesia',
 'ini',
 'jaga',
 'jalur',
 'jangan',
 'jokowi',
 'juga',
 'kamu',
 'karena',
 'kasus',
 'kembali',
 'kenaikan',
 'kenapa',
 'kini',
 'kita',
 'korona',
 'kumparannews',
 'lainnya',
 'lanjutan',
 'lawanvarianbaru',
 'lebaran',
 'lewat',
 'libur',
 'lonjakan',
 'melawan',
 'melonjakan',
 'membuka',
 'memunculkan',
 'mengapa',
 'mengintai',
 'mengkhawatirkan',
 'menikahi',
 'menjadi',
 'menjangkit',
 'menyebar',
 'meresahkan',
 'meski',
 'mewanti',
 'mewaspadai',
 'mirip',
 'mulai',
 'muncul',
 'munculnya',
 'muslim',
 'negara',
 'nih',
 'non',
 'omicron',
 'omricon',
 'orang',
 'pada',
 'panik',
 'pasca',
 'peduli',
 'pekan',
 'pemerintah',
 'peneliti',
 'peningkatan',
 'penyebab',
 'pernah',
 'pikiran',
 'positif',
 'prokesnya',
 'pun',
 'rakyat',
 'saksikan',
 'saling',
 'sama',
 'sebelumnya',
 'sebut',
 'sekitar',
 'seluruh',
 'seperti',
 'serius',
 'sesama',
 'source',
 'subvarian',
 'sudah',
 'swedia',
 'tanah',
 'tanda',
 'telah',
 'tengah',
 'terjadi',
 'terjadinya',
 'terjangkit',
 'terus',
 'tetap',
 'tidak',
 'tikus',
 'tvonenews',
 'umat',
 'untuk',
 'varian',
 'via',
 'virus',
 'viruscorona',
 'vivacoid',
 'wanti',
 'waspada',
 'waspadai',
 'wisata',
 'ya',
 'yang',
 'youtube',
 'yuk']

In [16]:
response.todense()

matrix([[0.        , 0.        , 0.        , ..., 0.        , 0.15538513,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.1349817 , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ]])

In [17]:
df = pd.DataFrame(response.todense().T,
                  index=vectorizer.get_feature_names(),
                  columns=[f'D{i+1}' for i in range(len(df))])

df

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,D16
abai,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.358819,0.0,0.0,0.0,0.0
ada,0.000000,0.000000,0.0,0.0,0.000000,0.279477,0.123408,0.000000,0.0,0.000000,0.295863,0.000000,0.0,0.0,0.0,0.0
air,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.233928,0.000000,0.000000,0.0,0.0,0.0,0.0
airlanggasolusiindonesia,0.000000,0.000000,0.0,0.0,0.367466,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
akan,0.000000,0.000000,0.0,0.0,0.000000,0.312335,0.000000,0.000000,0.0,0.203722,0.000000,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wisata,0.155385,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
ya,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.158367,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
yang,0.000000,0.134982,0.0,0.0,0.000000,0.253991,0.112154,0.150979,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
youtube,0.155385,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
yuk,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.158367,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0

In [18]:
filename = 'fake_vectorized.pkl'
pickle.dump(response, open(filename, 'wb'))