In [14]:
import pandas as pd
import nltk

from nltk.tokenize import word_tokenize

In [15]:
imp = input('Enter File Name:') #cleaned_tweet

df = pd.read_csv('cleaned_tweets_' + imp + '.csv')
df.head()

Enter File Name:kasus covid menurun

,created_at,date,user_id,username,name,tweet,link,tweet_preproc
0,1.656633e+12,2022-07-01 06:54:14,1386763327527800832,atiduduwesi,Sepele,kasus covid semakin menurun memunculkan optimi...,https://twitter.com/atiduduwesi/status/1542657...,"['kasus', 'covid', 'makin', 'turun', 'muncul',..."
1,1.656633e+12,2022-07-01 06:50:13,1488298069129297924,NoviRoose,Novi Roose,kasus covid semakin menurun memunculkan optimi...,https://twitter.com/NoviRoose/status/154265678...,"['kasus', 'covid', 'makin', 'turun', 'muncul',..."
2,1.656633e+12,2022-07-01 06:49:58,1479239414857408513,nvroost,Nvroost,kasus covid semakin menurun memunculkan optimi...,https://twitter.com/nvroost/status/15426567244...,"['kasus', 'covid', 'makin', 'turun', 'muncul',..."
3,1.656630e+12,2022-07-01 06:05:51,1479223936101470209,TremmorB,TremmorBanget,kasus covid yang semakin menurun memunculkan o...,https://twitter.com/TremmorB/status/1542645620...,"['kasus', 'covid', 'yang', 'makin', 'turun', '..."
4,1.656630e+12,2022-07-01 06:01:45,1510144662312402944,Arrayaa17,Arrayaa,angka kasus covid semakin menurun hal ini memu...,https://twitter.com/Arrayaa17/status/154264458...,"['angka', 'kasus', 'covid', 'makin', 'turun', ..."

In [ ]:
kwd = input('Input Keyword: ') #keyword
print(kwd)

label = []
for index, row in df.iterrows():
    if kwd in row['tweet']:
        label.append(1)
    else:
        label.append(0)
df['Label'] = label
df

In [ ]:
export = input('Enter File Name:') #labeled_tweet

df.to_csv("labeled_tweets_" + export + ".csv", index=False)